{% extends 'base.html.twig' %}
{% block title %} {{object.name}} {% endblock %}
{% block body %}
{{ include('@navbars/collectornavbar.twig') }}
<div class="container text-center">
    <h2>{{object.name}}</h2>
    <video width="1200" height="700" controls poster="/collectors/{{object.poster}}">
        <source src="/collectors/{{object.src}}" type="video/mp4">
    </video>
    <div class="row">
    <a href={{path('SeriesTopStars',{id:object.id,collector:Collector})}}>
        <h2>Stars</h2>
    </a>
    <div class="container text-center">
        <div class="row">
            {% for Star in object.Stars %}
                <div class="col">
                    <a href={{path('StarDetail',{id:Star.id,collector:Collector})}}>
                        <img src="/collectors/{{Star.avatar}}" width="200" height="170" alt="{{Star.name}}"><br>
                        <b>{{Star.name}}</b>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <h2>Deteils</h2>
    <div style="text-align: justify; padding:15px;">{{object.description}}</div>
    <table class="table table-bordered">
    <tbody>
        <tr>
            <td>
                Id
            </td>
            <td>
                {{object.id}}
            </td>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                {{object.name}}
            </td>
        </tr>
        <tr>
            <td>
                Show name
            </td>
            <td>
                {{object.getShowName()}}
            </td>
        </tr>
        {% if object.getProducent() != NULL %}
            <tr>
                <td>
                    Series
                </td>
                <td>
                    <a href={{path('SeriesDetail',{id:object.getSerie().getId(),collector:Collector})}}>{{object.getSerie().getDetelName()}}</a>
                </td>
            </tr>
        {% endif %}
        {% if object.getProducent() != NULL %}
            <tr>
                <td>
                    Producent
                </td>
                <td>
                    <a href={{path('ProducentsDetail',{id:object.getProducent().getId(),collector:Collector})}}>{{object.getProducent().getDetelName()}}</a>
                </td>
            </tr>
        {% endif %}
        <tr>
            <td>
                Dir
            </td>
            <td>
                {{object.dir}}
            </td>
        </tr>
        <tr>
            <td>
                Src
            </td>
            <td>
                {{object.src}}
            </td>
        </tr>
        <tr>
            <td>
                Country
            </td>
            <td>
                {{object.getCountry()}}
            </td>
        </tr>
    </tbody>
    </table>
    <h2>Covers</h2>
    <div class="container text-center">
        <div class="row">
            <div class="col">
            Front Cover
                <img src="/collectors/{{object.getCover()}}" width="250" height="400">
            </div>
            <div class="col">
            Back Cover
                <img src="/collectors/{{object.getBackCover()}}" width="250" height="400">
            </div>
            <div class="col">
            Custum Cover
                <img src="/collectors/{{object.getCustomCover()}}" width="250" height="400">
            </div>
            <div class="col">
            Custum Cover 2
                <img src="/collectors/{{object.getCustomCover2()}}" width="250" height="400">
            </div>
        </div>
    </div>
    <h2>Galery</h2>
    <div class="container text-center">
        {% for photo in Galery %}
            <img src="{{photo}}" width="250" height="250">
        {% endfor %}
    </div>

</div>
{% endblock %}



