{% extends 'base.html.twig' %}
{% block title %} {{object.name}} {% endblock %}
{% block body %}
{{ include('@navbars/collectornavbar.twig') }}
    <div class="container text-center">
        <h2>{{object.getDetelName()}}</h2>
        <div class="row">
            <div class="col">
            <img src="{{object.getAvatar()|photo}}" width="350" height="350">
            </div>
            <div class="col">
            <table class="table table-bordered">
                <tbody>
                     <tr>
                        <td>
                            Id
                        </td>
                        <td>
                            {{object.id}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Name
                        </td>
                        <td>
                            {{object.name}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Show name
                        </td>
                        <td>
                            {{object.getShowName()|empty}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Dir
                        </td>
                        <td>
                            {{object.dir}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Country
                        </td>
                        <td>
                            {{object.getCountry()|empty}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            years
                        </td>
                        <td>
                            {{object.getYears()|empty}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Number of sezons
                        </td>
                        <td>
                            {{object.getNumberOfSezons()}}
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        {{object.description|empty}}
        <div class="row">
        <a href={{path('SeriesTopStars',{id:object.id,collector:Collector})}}>
            <h2>Top Stars</h2>
        </a>
            <div class="container text-center">
                <div class="row">
                {% for TopStar in TopStars %}
                    <div class="col">
                        <img src="{{TopStar.avatar|photo('star')}}" width="160" height="80" class="img-thumbnail" alt="{{TopStar.dirname}}"><br>
                        {{TopStar.dirname}}
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
        <a href={{path('SeriessPhotos',{id:object.id,collector:Collector})}}>
            <h2>Photos<h2>
        </a>
        <br>
            {% for Photo in photos %}
                <img src="{{Photo|photo}}" width="160" height="80" class="img-thumbnail" alt="{{Photo}}">
            {% endfor %}
        </div>
        <div class="row">
        <a href={{path('SeriessBanner',{id:object.id,collector:Collector})}}>
        <h2>Banners<h2>
        </a>
        <br>
            {% for banner in banners %}
                <img src="{{banner|photo}}" width="860" height="200" class="img-thumbnail" alt="{{banner}}">
            {% endfor %}
        </div>
        <div class="row">
            <a href="{{path('SeriesMovies',{id:object.id,collector:Collector})}}">
                <h2>Movies</h2>
            </a>
        </div>
        <ul>
            <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                {% for el in Movies %}
                <tr>
                    <th scope="row">{{el.id}}</th>
                    <td><a href={{path('MoviesDeteil',{id:el.id,collector:Collector})}}>{{el.name}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        <ul>
    </div>
{% endblock %}