{% extends 'base.html.twig' %}
{% block title %} Series {% endblock %}
{% block body %}
{{ include('@navbars/collectornavbar.twig') }}
<ul>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Producent</th>
        </tr>
    </thead>
    <tbody>
        {% for el in object %}
        <tr>
            <th scope="row">{{el.id}}</th>
            <td><a href={{path('SeriesDetail',{id:el.id,collector:Collector})}}>{{el.getDetelName()}}</td>
            <td>
            {% if el.getProducent() != NULL %}
                <a href={{path('ProducentsDetail',{id:el.getProducent().getId(),collector:Collector})}}>{{el.getProducent().getDetelName()}}</a>
            {% else %}
            No Producent !
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
<ul>
{{ knp_pagination_render(object) }}
{% endblock %}